.card {
  max-width: 1200px;
  /* width: 100%; */
  border: 1px solid gray;
  border-bottom: none;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 5px auto;
  position: relative;
}
.title {
  position: relative;
}
.editIcon {
  width: 15px;
  position: absolute;
  top: 40%;
  left: 110%;
  cursor: pointer;
}
.editIcon:hover {
  fill: #006ef5;
  transition: 0.2s;
}
.inputTitle {
  width: 200px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
}
.btn {
  background-color: #006ef5;
  width: 100px;
  border: none;
  outline: none;
  height: 30px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
}
.cost {
  background-color: #006ef5;
  color: white;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  border-radius: 40px;
}
.delete {
  border-radius: 50%;
  background-color: black;
  color: white;
  height: 25px;
  cursor: pointer;
  position: absolute;
  left: 97.5%;
  outline: none;
}
.addSub {
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.addSub:hover {
  text-decoration: underline;
}
.subContainer {
  max-width: 1150px;
  border: 1px solid rgb(46, 46, 46);
  border-top: none;
  border-bottom: none;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 5px auto;
  position: relative;
}
.arrow {
  transform: rotate(0);
  transition: 0.3s;
  position: absolute;
  left: 88%;
  cursor: pointer;
  z-index: 20;
}
.arrowActive {
  transform: rotate(180deg);
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  left: 88%;
  z-index: 20;
}

@media (max-width: 1050px) {
  .card {
    max-width: 800px;
  }
  .delete {
    left: 95%;
  }
  .arrow {
    left: 80%;
  }
  .arrowActive {
    left: 80%;
  }
  .subContainer {
    max-width: 800px;
  }
}
@media (max-width: 550px) {
  .delete {
    left: 93%;
  }
  .arrow {
    left: 70%;
  }
  .arrowActive {
    left: 70%;
  }
  .addSub {
    font-size: 14px;
  }
  .card {
    padding: 0 20px;
  }
  .title {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .arrow {
    left: 65%;
  }
  .arrowActive {
    left: 65%;
  }
}
