.card {
  max-width: 1200px;
  width: 100%;
  border: 1px solid gray;
  border-bottom: none;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 5px auto;
  position: relative;
}
.cost {
  background-color: #006ef5;
  color: white;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  border-radius: 40px;
}
.delete {
  border-radius: 50%;
  background-color: black;
  color: white;
  height: 25px;
  cursor: pointer;
  position: absolute;
  left: 97.5%;
}
.addSub {
  font-size: 18px;
  cursor: pointer;
}
.addSub:hover {
  text-decoration: underline;
}
.subContainer {
  max-width: 1150px;
  width: 100%;
  border: 1px solid rgb(46, 46, 46);
  border-top: none;
  border-bottom: none;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 5px auto;
  position: relative;
}
.arrow {
  transform: rotate(0);
  transition: 0.3s;
  position: absolute;
  left: 88%;
  cursor: pointer;
  z-index: 20;
}
.arrowActive {
  transform: rotate(180deg);
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  left: 88%;
  z-index: 20;
}
