.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.form {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.formItem {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  margin-left: 50px;
}
.formItem input {
  margin-top: 5px;
  max-width: 400px;
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  border-radius: 10px;
  outline: none;
  padding: 0 15px;
}
.formItem span {
  font-size: 20px;
}
.btn {
  max-width: 150px;
  width: 100%;
  background-color: #006ef5;
  border: none;
  outline: none;
  height: 30px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 50px;
  margin-top: 20px;
}

@media(max-width: 550px){
  .form{
    flex-direction: column;
  }
  .formItem input{
    max-width: 300px;
  }
  .formItem{
    margin-left: 20px;
  }
}