.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  height: 500px;
  overflow-y: auto;
}
.container h1 {
  text-align: center;
}

@media (max-width: 450px) {
  .container {
    height: 400px;
  }
}
