.container {
  max-width: 400px;
  width: 100%;
}
.form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.formItem {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  margin-left: 50px;
  margin-bottom: 10px;
}
.formItem input {
  margin-top: 5px;
  max-width: 200px;
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  border-radius: 10px;
  outline: none;
  padding: 0 15px;
}
.formItem span {
  font-size: 20px;
}
.btn {
  background-color: #006ef5;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 30px;
  margin-left: 50px;
  margin-top: 20px;
}

@media (max-width: 550px) {
  .form {
    flex-direction: column;
  }
  .formItem input {
    max-width: 300px;
  }
  .formItem {
    margin-left: 20px;
  }
}
